
*.xml
.idea/workspace.xml
__pycache__/backend.cpython-310.pyc
__pycache__/Book.cpython-310.pyc
__pycache__/frontend.cpython-310.pyc
__pycache__/user.cpython-310.pyc
helper_functions/__pycache__/helper_methods.cpython-310.pyc
